.one {
  background-color: #4a90e2;

}
.two {
  background-color: #50e3c2;

}
.three {
  background-color:#b8e986;

}
.box{
  float: left;
  width: calc(100%/3);
height: 100vh;
}

.box:nth-child(3){
  float: left;
  width: calc(100%/3);
  height: 80vh;
}
#inner-box {
  background-color: #D0021C;
  height: 20vh;
  width: 444.328px;
  float: right;
  text-align: center;
  color: white;
  font-size: 20px;
    overflow: hidden;
}
